flamingo/ValidationFiles/Deterministic_ModelLoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rec" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="PortNumber" type="xs:string"/>
						<xs:attribute name="AccNumber" type="xs:string"/>
						<xs:attribute name="LocNumber" type="xs:string"/>
						<xs:attribute name="Latitude" type="xs:string"/>
						<xs:attribute name="Longitude" type="xs:string"/>
						<xs:attribute name="LocUserDef1" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
